.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: rgb(244, 247, 252, 0.75);
  backdrop-filter: blur(4px);
  flex: 0 0 auto;
  bottom: 0;
  position: sticky;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.36px;
}

.rowsPage {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
}

.button {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}
